.bd-navbar {
  min-height: 4rem;
  background-color: #563d7c !important;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  margin-bottom: 0.4rem;
  color:#fff;
}

input {
  width: 50px;
  margin: 0 10px;
}

button {
  margin: 10px 20px;
}

